@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f8fafc;

  --primary: #06b6d4;
  --secondary: #10b981;

  --card: rgba(255,255,255,0.05);
  --border: rgba(255,255,255,0.10);
}

html{
  scroll-behavior:smooth;
}

body{
  background:
      radial-gradient(circle at top,#0f172a 0%,#030712 70%);
  color:var(--foreground);
  overflow-x:hidden;
  font-family:Inter,sans-serif;
}
@keyframes vinylSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-record {
  animation: vinylSpin 12s linear infinite;
}

.pause-record {
  animation-play-state: paused;
}
 